@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-image: linear-gradient(to right, #A372FC, #7FCBF5);
}

main {
    background-color: #BCEBC0;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgba(0, 0, 0, 0.726);
    text-align: center;
    text-shadow: 1px 1px 0px #F39209;
}

p {
    text-align: justify;
}


rgba(0, 0, 0, 0.726);